@import url('./reset.css');




:root {
    --max-width: 1250px;

    --t-header-clr: lightgrey;
    /* CSS HSL */
    --gray-50: hsla(210, 17%, 98%, 1);
    --gray-100: hsla(210, 16%, 93%, 1);
    --gray-200: hsla(210, 14%, 89%, 1);
    --gray-300: hsla(210, 14%, 83%, 1);
    --gray-400: hsla(210, 11%, 71%, 1);
    --gray-500: hsla(208, 7%, 46%, 1);
    --gray-600: hsla(210, 9%, 31%, 1);
    --gray-700: hsla(210, 10%, 23%, 1);
    --gray-900: hsla(210, 11%, 15%, 1);

    /* danger */
    --red-500: hsla(354, 71%, 45%, 1);
    --red-600: hsla(354, 53%, 43%, 1);
    --red-700: hsla(351, 71%, 38%, 1);
    --red-800: hsla(353, 73%, 26%, 1);
    --red-900: hsla(345, 76%, 20%, 1);


    /* accent */

    --blue-500: hsla(200, 100%, 49%, 1);
    --blue-600: hsla(202, 95%, 41%, 1);
    --blue-700: hsla(199, 100%, 29%, 1);
    --blue-800: hsla(202, 100%, 16%, 1);
    --blue-900: hsla(200, 75%, 8%, 1);

    /*  */
    --bg-clr: var(--gray-50);
    --header-clr: var(--gray-300);
    --txt-clr: var(--gray-600);
    --side-menu-clr: var(--gray-100);
    --accent-clr: var(--blue-500);
    --accent-clr-warning: var(--red-500);

    /* shadow */
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.15);
    --shadow-sidebar: 4px 0 16px rgba(0, 0, 0, 0.12);
    /* border-radius */
    --br-1: 4px;
    --br-2: 8px;
    --br-3: 12px;

    --h1: 2.986rem;
    --h2: 2.488rem;
    --h3: 2.074rem;
    --h4: 1.728rem;
    --h5: 1.44rem;
    --h6: 1.2rem;
    --p: 1rem;
    --small: 0.833rem;
    --v-small: 0.694rem;

    --font-size-2b: 0.6875rem;
    --font-size-1b: 0.8125rem;

    /* the base */
    --font-size: 1rem;

    /* above the base */
    --font-size-1: 1.1875rem;
    --font-size-2: 1.4375rem;
    --font-size-3: 1.6875rem;
    --font-size-4: 2rem;
    --font-size-5: 2.375rem;
    --font-size-6: 2.8125rem;

    --line-height-1: 1.4737;
    --line-height-2: 1.3913;
    --line-height-3: 1.3333;

    --letter-space: 0.035em;

    /* above the base */
    --letter-space-1: 0.0247em;
    --letter-space-2: 0.0152em;
    --letter-space-3: 0.0085em;

}


body {
    min-height: 100dvh;
    background-color: var(--bg-clr);
    /* background-color: var(--blue-900); */
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: var(--letter-space);
}

/* --- Headers --- */

:is(h1, h2, h3) {
    font-weight: 600;
}

h1 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-space-3);
}

h2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-space-2);
}

h3 {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-space-1);
}


ul {
    list-style: none;
    padding: 0;
    cursor: pointer;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

button {
    padding: .5em 0.5rem;
    border-radius: var(--br-1);
    border: 1px solid transparent;
    transition: transform 200ms ease;
    color: inherit;
    background-color: inherit;
}

button:is(:hover, :focus-visible) {
    /* transform: translateY(-2px); */
    /* border: 1px solid; */

}

a,
button {
    cursor: pointer;
}

main {
    width: 100%;
}



/*  */
.container {
    max-width: var(--max-width);
    padding: 0 2rem;
    margin-inline: auto;
}

.content {
    min-height: calc(100dvh - 80px);
}

.row {
    display: flex;
}

.btw {
    justify-content: space-between;
}

.gap-1 {
    gap: 0.25rem
}

.gap-2 {
    gap: 0.5rem
}

.gap-4 {
    gap: 1rem;
}




/*  */
.border {
    border: 1px solid;
}

.flex {
    display: flex;
}

.gap {
    gap: 1rem;
}



/*  */
/* anchors */
/* sub list */
.sub__list {
    padding-inline-start: 0.5rem;
}

.main-content {
    width: 100%;
}


.nav nav {
    padding: 1rem;


}

.nav .nav__list a {
    font-weight: 700;
}

.nav .nav__list a:hover {
    color: var(--blue-500);
    text-decoration-color: var(--accent-clr);
}

/* nav */
.nav__list {
    justify-content: end;
    padding-inline: .5rem;
}

/* table */


.table {
    width: 100%;

    border-spacing: 0;
}

.th__row {
    text-align: left;
}

th {
    background-color: var(--t-header-clr);
}

th,
td {
    border: 1px solid;
    border-bottom: none;
    border-left: none;


}

th,
td {
    padding: .5rem;
}

/*  */
.main-content {
    padding: 2rem 1rem;

}

/* layout */
.image-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--blue-600) 0%, var(--gray-300) 100%);
    border-radius: var(--br-1);
}

/* forms */
.layout--auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    min-height: 100dvh;
    /* align-items: center; */
}

.form-container {
    width: 100%;
    margin-inline: auto;
    max-width: 30rem;
    padding: 2rem 1rem;
    /* background-color: var(--blue-600); */
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

form {
    display: grid;
    gap: 1.25rem;
}

.form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
}

.form__title {
    font-size: var(--font-size-6);
    line-height: 1;
}

.form__description{
    /* font-size: var(--font-size-1b); */
}

.form-group {
    display: grid;
    gap: 0.25rem;

}

.form-group input{
    padding:  0.5rem 0.75rem;
    border-color: transparent;
    background-color: var(--gray-100);
    border-radius: var(--br-2);
    font: inherit;
}

.form-actions{
    margin-block-start: 1rem;
    display: grid;
}

.form-btn{
    background-color: var(--blue-900);
    color: var(--gray-50);
    border-radius: var(--br-3);
    width: 100%;
}

.form-footer{
    align-self: center;
}


/* side Menu */

.side-menu {
    padding: 2rem 1rem;
    width: 22rem;
    /* background-color: var(--side-menu-clr); */
    box-shadow: var(--shadow-sidebar);
    border-radius: 8px;

}

.aside-content {
    display: grid;
    gap: 2rem;
    align-content: start;
}

.actions {
    display: grid;

}

.dropdown {
    transition: transform 200ms ease;

}

.dropdown.open {
    transform: rotate(180deg);
}


.folder__list {
    display: grid;
    /* gap: 0.5rem; */
    border-inline-start: 1px solid var(--gray-400);

}

.folder__item {
    /* display: grid;
    gap: 0.25rem; */
    padding: .25rem .5rem;
}

.folder__list a {}

.btn--folder {
    background-color: var(--blue-800);
    color: var(--gray-50);
}

.btn--file {
    background-color: var(--blue-600);
    color: var(--gray-50);
}

.delete {
    color: var(--accent-clr-warning);
}

/* icons */
.icons{
    pointer-events: none;
}


.icon--warning:hover {
    color: red;
}

.dialog--share {
    color: var(--blue-600);


}
/* dialog */

dialog{
    position: relative;
    padding: 0;
    border-color: transparent;
    border-radius: var(--br-2);

}
.dialog-container{
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
}
.dialog__info{
    display: grid;
    
}
.dialog__title{
    font-size: var(--font-size-4);
}

.dialog__description{
    font-size: var(--font-size-1);
}
.dialog__actions{
    position: absolute;
    right: 0;
    top: 0;
}


dialog .notice{
    font-size: var(--font-size-1b);
}

#uploaded_file{
    background: none;
    padding-block: 1.5rem;
}
.strip{
    transition: none;
    transform: none;
    padding: 0;
    margin: 0;
    border: transparent;
}


.hide {
    display: none;
}

