@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Spectral:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800&display=swap');


:root {
    --max-width: 1250px;



    /* CSS HSL */
    --gray-50: hsla(210, 17%, 98%, 1);
    --gray-100: hsla(210, 16%, 93%, 1);
    --gray-200: hsla(210, 14%, 89%, 1);
    --gray-300: hsla(210, 14%, 83%, 1);
    --gray-400: hsla(210, 11%, 71%, 1);
    --gray-500: hsla(208, 7%, 46%, 1);
    --gray-600: hsla(210, 9%, 31%, 1);
    --gray-700: hsla(210, 10%, 23%, 1);
    --gray-900: hsla(210, 11%, 15%, 1);

    /* danger */
    --red-500: hsla(354, 71%, 45%, 1);
    --red-600: hsla(354, 53%, 43%, 1);
    --red-700: hsla(351, 71%, 38%, 1);
    --red-800: hsla(353, 73%, 26%, 1);
    --red-900: hsla(345, 76%, 20%, 1);


    /* accent */

    --blue-500: hsla(200, 100%, 49%, 1);
    --blue-600: hsla(202, 95%, 41%, 1);
    --blue-700: hsla(199, 100%, 29%, 1);
    --blue-800: hsla(202, 100%, 16%, 1);
    --blue-900: hsla(200, 75%, 8%, 1);

    /*  */
    --bg-clr: var(--gray-50);
    --header-clr: var(--gray-300);
    --txt-clr: var(--gray-600);
    --side-menu-clr: var(--gray-100);
    --accent-clr: var(--blue-500);
    --accent-clr-warning: var(--red-500);

    /* shadow */
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.15);
    --shadow-sidebar: 4px 0 16px rgba(0, 0, 0, 0.12);
    /* border-radius */
    --br-1: 4px;
    --br-2: 8px;
    --br-3: 12px;


    /* f-s */
    --font-size-1b: 0.8125rem;
    /* the base */
    --font-size: 1rem;

    /* above the base */
    --font-size-1: 1.1875rem;
    --font-size-2: 1.4375rem;
    --font-size-3: 1.6875rem;
    --font-size-4: 2rem;
    --font-size-5: 2.375rem;
    --font-size-6: 2.8125rem;

    --line-height-1: 1.4737;
    --line-height-2: 1.3913;
    --line-height-3: 1.3333;

    --letter-space: 0.035em;

    /* above the base */
    --letter-space-1: 0.0247em;
    --letter-space-2: 0.0152em;
    --letter-space-3: 0.0085em;

    /* clrs */
    --color-primary: var(--blue-500);
    --color-primary-hover: var(--gray-300);
    --color-background: var(--gray-50);
    --color-border: var(--gray-200);
    --color-text: var(--gray-600);
    --color-text-muted: var(--gray-200);
    --color-danger: var(--red-500);
    --color-success: var(--blue-600);
    /* --color-a: none; */
}


body {
      font-family: "JetBrains Mono", monospace;
    min-height: 100dvh;
    background-color: var(--bg-clr);
    /* background-color: var(--blue-900); */
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: var(--letter-space);
}

/* --- Headers --- */

:is(h1, h2, h3) {
    font-weight: 600;
    font-family: "Spectral", serif;
}

h1 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-space-3);

}

h2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-space-2);
}

h3 {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-space-1);
}


ul {
    list-style: none;
    padding: 0;
    cursor: pointer;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;

}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

button {
    padding: .5em 0.5rem;
    border-radius: var(--br-1);
    border: 1px solid transparent;
    transition: transform 200ms ease;
    color: inherit;
    background-color: inherit;
}

button:is(:hover, :focus-visible) {
    /* transform: translateY(-2px); */
    /* border: 1px solid; */

}

a,
button {
    cursor: pointer;
}

main {
    width: 100%;
}



/*  */
.container {
    position: relative;
    max-width: var(--max-width);
    padding: 0 2rem;
    margin-inline: auto;
}

.content {
    position: relative;
    min-height: calc(100dvh - 80px);
}


.row {
    display: flex;
}

.btw {
    justify-content: space-between;
}

.gap-1 {
    gap: 0.25rem
}

.gap-2 {
    gap: 0.5rem
}

.gap-4 {
    gap: 1rem;
}




/*  */
.border {
    border: 1px solid;
}

.flex {
    display: flex;
}

.gap {
    gap: 1rem;
}



/*  */
/* anchors */
/* sub list */
.sub__list {
    padding-inline-start: 0.5rem;
}

.main-content {
    width: 100%;
}


.nav nav {
    padding: 1rem;


}

.nav .nav__list a {
    font-weight: 700;
}

.nav .nav__list a:hover {
    color: var(--blue-500);
    text-decoration-color: var(--accent-clr);
}

/* nav */
.nav__list {
    justify-content: end;
    padding-inline: .5rem;
}

/* table */

table {
    /* table-layout: fixed; */
    border-collapse: collapse;
}

.table {
    width: 100%;

    /* border-spacing: 0; */
}

.th__row {
    text-align: left;
}

th {
    background-color: var(--gray-100);
    /* background-color: var(--color-primary); */
    color: var(--gray-600);

    text-transform: uppercase;

    border: 1px solid var(--gray-50);
    /* border-bottom: none;
    border-left: none; */
}

th,
td {
    padding: 0.75rem;
}


td {
    border-bottom: 1px solid var(--gray-200);
    /* background-color: var(--blue-700); */
}

td:focus-within {
    border-bottom: 1px solid var(--blue-800);


}

.tr__link:is(:hover, :focus-within, :focus-visible) {
    color: var(--gray-600);

    & .icon {
        color: currentColor;
    }

    & a {
        text-decoration: none;
        outline: none;
        border: none;
    }
}

/*  */
.main-content {
    padding: 2rem 1rem;

}

/* layout */
.image-container {
    width: 100%;
    max-height: 100%;
    background: linear-gradient(90deg, var(--blue-600) 0%, #396afc 100%);
    border-radius: var(--br-1);

}

.image-container img {
    max-width: 100%;
    /* max-height: 100vh; */
    object-fit: cover;
}

/* forms */
.layout--auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    min-height: 100dvh;
    /* align-items: center; */
}

.form-container {
    width: 100%;
    margin-inline: auto;
    max-width: 30rem;
    padding: 2rem;
    /* background-color: var(--blue-600); */
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

form {
    display: grid;
    gap: 1.25rem;
}

.form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
}

.form__title {
    font-size: var(--font-size-6);
    line-height: 1;
}

.form__description {
    /* font-size: var(--font-size-1b); */
}

.form-group {
    display: grid;
    gap: 0.25rem;

}

input {
    padding: 0.5rem 0.75rem;
    border-color: transparent;
    background-color: var(--gray-100);
    border-radius: var(--br-2);
    font: inherit;
}

.form-actions {
    margin-block-start: 1rem;
    display: grid;
}

.form-btn {
    background-color: var(--blue-900);
    color: var(--gray-50);
    border-radius: var(--br-3);
    width: 100%;
}

.form-footer {
    align-self: center;
}


/* side Menu */

.side-menu {
    position: relative;
    padding: 2rem 1.5rem;
    min-width: 20rem;
    /* background-color: var(--side-menu-clr); */
    /* box-shadow: var(--shadow-sidebar); */
    border-radius: 8px;
    /* border: 1px solid var(--gray-100); */
    box-shadow:
        0px 0px 0px 1px rgba(0, 0, 0, 0.06),
        0px 1px 2px -1px rgba(0, 0, 0, 0.06),
        0px 2px 4px 0px rgba(0, 0, 0, 0.04);

}

.aside-content {
    display: grid;
    gap: 2rem;
    align-content: start;
}

.actions {
    display: grid;

}

.dropdown {
    transition: transform 200ms ease;

}

.dropdown.open {
    transform: rotate(180deg);
}


.folder__list {
    display: grid;
    /* gap: 0.5rem; */
    border-inline-start: 1px solid var(--gray-100);
    padding-inline-start: 1rem;

}

.anchor {
    border-inline-start: 1px solid transparent;
    padding: 0;
}

.folder__item {
    /* display: grid;
    gap: 0.25rem; */
    padding: .25rem .5rem;
}

.folder__list a {}

.btn--folder {
    background-color: var(--blue-800);
    color: var(--gray-50);
}

.btn--file {
    background-color: var(--blue-600);
    color: var(--gray-50);
}

.delete {
    color: var(--accent-clr-warning);
}

/* icons */

.icon {

    color: var(--gray-400);

}

.icon svg {
    pointer-events: none;
}

.icon:is(:hover, :focus-visible, :focus-within) {
    border: none;
    outline: none;
}

.icon--update:is(:hover, :focus-visible, :focus-within) {
    color: var(--gray-600);
    color: green;
}

.icon--delete:is(:hover, :focus-visible, :focus-within) {
    color: var(--red-500);

}

.icon--share:is(:hover, :focus-visible, :focus-within) {
    color: var(--blue-700);

}

.dialog--share {
    /* color: var(--blue-600); */


}

/* file */

.content--file {
    padding: 2rem;

}

.file__name {
    font-size: var(--font-size-4);
    text-transform: capitalize;
}

.info__list {
    display: grid;
    align-content: start;
    gap: .05rem;
    text-transform: capitalize;
    margin-block: 1rem 2rem;


}

.info__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 0.5rem; */
}

.info__item>* {
    border: 1px solid var(--gray-200);
    padding: 0.5rem;
}

.info__item>*:last-child {
    border-left: none;
}

.viewer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2rem; */
    gap: 1rem
}

.file__image {
    max-width: 60rem;
}

.view__image {
    object-fit: contain;
    border-radius: var(--br-3);
}

/* dialog */

dialog {
    position: relative;
    padding: 0;
    border-color: transparent;
    border-radius: var(--br-2);

}

.dialog-container {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
}

.dialog__info {
    display: grid;

}

.dialog__title {
    font-size: var(--font-size-4);
}

.dialog__description {
    font-size: var(--font-size-1);
}

.dialog__actions {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
}

.dialog__actions:hover {
    color: var(--red-500);
}

dialog .notice {
    /* font-size: var(--font-size-1b); */
    color: var(--gray-500);
    font-style: italic;
}

#uploaded_file {
    background: none;
    padding-block: 1.5rem;
}


/* shared */
.shared__content {
    padding: 1rem;
    overflow-x: auto;
}

.shared__texts {
    /* display: grid; */
    margin-bottom: 2rem;
}

.title {
    font-size: var(--font-size-5);
    line-height: 1.5;
}

.description {
    max-width: 85ch;
}

/*  */
.open-menu {
    display: none;
    position: fixed;
    border: 1px solid;
    width: auto;
    height: 50px;
    border-radius: 8px;
    z-index: 2;
    left: -10px;
    background-color: var(--blue-500);
    color: var(--gray-50);
}

.close-menu {
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    margin-bottom: 1rem;
}


/* breadcrumbs */

.breadcrumbs {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-block-end: 1rem;
    padding: 0.25rem 1rem;
    font-size: var(--font-size-2);
    text-transform: capitalize;
    background: var(--gray-200);
    border-radius: var(--br-3);
    font-size: 1rem;
    /* background: var(--gray-100); */
}

.strip {
    transition: none;
    transform: none;
    padding: 0;
    margin: 0;
    border: transparent;
}






@media (max-width: 768px) {

    h1,
    h2,
    h3 {
        line-height: 1.2;
    }

    .container {
        padding: 0rem;
    }

    form .row {
        flex-wrap: wrap;
    }

    .layout--auth {
        grid-template-columns: 1fr;
    }

    .image-container {
        display: none;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    .form-group {
        width: 100%;
    }

    #sideMenu {
        padding: 2.5rem 1rem;
        width: 0;
        position: fixed;
        height: 100%;
        transition: width 3s ease-in;
        z-index: -6;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, width 0.25s ease-in-out;
    }

    .main-content {
        overflow-x: auto;
        position: relative;
        /* padding-top: 0; */
    }

    #sideMenu.show {
        visibility: visible;
        opacity: 1;
        /* transition: visibility 0s, opacity 0.5s linear; */
        width: 100%;
        z-index: 1;
        background-color: var(--bg-clr);
        box-shadow: none;
    }

    .dialog__info {
        gap: 0.25rem
    }
}

.content--error {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.error__title {
    color: var(--red-500);
}

.error__code {
    font-size: var(--font-size-6);
}

.error__message {
    text-transform: capitalize;
}

.content--error a {
    color: #396afc;
    text-decoration: underline;
}

.hide {
    display: none;
}